@import "./project";
@import "./skills";
@import "./contact";
@import "./variables";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	box-sizing: border-box;

	font-size: 48%;
}
body {
	font-family: "Inter", sans-serif;
	height: 100vh;
	width: 100%;
	font-size: 1.8rem;
	background-color: $primary;
	color: $grey;
}

// background clip inserted on the root
#root > #bg {
	height: 100%;
	width: 100%;
	background: #416248;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	position: absolute;
	z-index: -1;
}

#page-container {
	position: relative;
	min-height: 100vh;
}
#content-wrap {
	padding-bottom: 20rem; /* Footer height */
}

.hero {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	margin-bottom: 10rem;
	margin-top: 10rem;
	.hero-text {
		padding: 6rem;
		display: flex;
		flex-direction: column;

		// border-bottom-right-radius: 5rem;
	}
	.hero-text h1 {
		align-self: flex-start;
		font-size: 52px;
		font-style: italic;
		text-align: left;
		line-height: 1.3;
		font-weight: 500;
		z-index: 1;
	}
	.hero-text p {
		align-self: flex-start;
		font-size: 24px;
		text-align: left;
		text-align: center;
		padding: 0;
		margin: 0;
	}
	.hero-text span {
		color: #c7f38d;
	}
}

img {
	max-width: 100%;
	min-width: 50%;
	height: auto;
	padding: 0;
	margin: 0;
	object-fit: contain;
}

.html-img-1 {
	// position: relative;
	max-width: 100%;
	min-width: 50%;
	height: auto;
}
.html-img-2 {
	// position: relative;
	width: 30%;
	height: auto;
}
/*
 MAIN
*/

.main {
	width: 80%;
	margin: 1.8rem auto;
	margin-bottom: 5rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	.main-text {
		font-size: 2.4rem;
		line-height: 3.5rem;
		font-weight: 400;
		align-self: center;
		padding: 6rem;
		width: 100%;
		order: 1;
	}
}

.btn {
	width: 24%;
	padding: 1.2rem;
	background-color: $grey2;
	display: block;
	margin: 0 auto;
	font-weight: 700;
	font-size: 2rem;
	border-radius: 10px;
	color: $primary2;
	margin-bottom: 10rem;
}

/*
FOOTER
*/
.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	height: auto;
	P {
		text-align: center;
		padding: 1rem;
	}
	.social-icons {
		padding: 1.5rem;
		width: 40%;
		margin: 1rem auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		a {
			font-size: 3rem;
			color: $grey;
			
		}
		a:hover{
			color: green;
		}
	}
}

@media (max-width: 900px) {
	.hero {
		margin: 5rem auto;
	}
	.main {
		flex-direction: column;
	}
	.html-img-2,
	.html-img-2 img {
		display: none;
	}
	.main {
		margin-bottom: 2rem;
		margin-top: 2rem;
		.main-text {
			margin-bottom: 1rem;
			margin-top: 1rem;
			padding: 1rem;
		}
	}
}

@media (max-width: 760px) {
	.header .nav .open-btn {
		display: inline-block;
		background-color: transparent;
		border: 0;
		color: $grey;
		font-size: 3rem;
		height: 2rem;
		width: 2rem;
	}

	.header .nav .close-btn {
		display: inline-block;
		background-color: transparent;
		border: 0;
		position: absolute;
		top: 3.5rem;
		right: 5rem;
		font-size: 3.5rem;
		color: $primary2;

		z-index: 21;
	}
	.header .nav .close-btn.hideBtn {
		display: none;
	}

	.header .nav .list-items {
		position: absolute;
		inset: 0 0 0 45%;
		display: block;
		background-color: #c7f38d;
		z-index: 20;
		transform: translateX(100%);
		transition: 0.5s all;
		box-sizing: 2px 16px 5px rgba(9, 24, 8, 0.69);
		li {
			color: $primary2;
			padding-top: 4rem;
			text-align: leflt;
			padding-left: 2rem;
		}
	}
	.header .nav .list-items.hideNav {
		transform: translateX(0);
	}

	.hero {
		width: 80%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5rem;
		margin-top: 5rem;
		.hero-text {
			padding: 3rem;
			display: flex;
			flex-direction: column;
		}
		.hero-text h1 {
			align-self: flex-start;
			font-size: 8vw;
			font-style: italic;
			text-align: left;
			line-height: 1.3;
			font-weight: 500;
			z-index: 1;
		}
		.hero-text p {
			align-self: flex-start;
			font-size: 3.5vw;
			text-align: left;
			text-align: center;
			padding: 0;
			margin: 0;
		}
		.hero-text span {
			color: #c7f38d;
		}
	}
}
